  <aside class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="call-to-action">
              <h2>Enjoying a night in our cottage</h2>
              <a href="https://abnb.me/sORrQMYSVS" class="btn btn-default btn-xl wow tada">Book Now !</a>
            </div>
          </div>
          <!-- <div class="col-lg-8 col-lg-offset-2">
            <div class="superhost-box">
              <p> We are proud to be consider as Airbnb Superhost since march 2019. </p>
              <img src="img/superhost-airbnb.png" class="img-responsive" alt="superhost airbnb">
            </div>
          </div> -->
        </div>
      </div>
  </aside>
