<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Try a new experience in your life, sleep in the surrounding nusa penida landscape and be close of nature. Alls accomodations are design, comfy and we provide towels, aircon, you can also have breakfast, lunch or dinner in our on site restaurant..
                </p>

                <a href="https://abnb.me/sORrQMYSVS" class="btn btn-default btn-xl" target="_blank">Get Started! </a>
            </div>

           <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="superhost-box">
                  <img src="img/superhost-airbnb.png" width=150px class="btn btn-default btn-lg" alt="superhost airbnb">
                </div>
            </div> -->
        </div>
    </div>
</section>
