<section id="contact">
    <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your new adventure with us? That's great! Book a room, or come to enjoy sunset with a cocktail in our restaurant !</p>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="https://goo.gl/maps/wheMFWACZ2z">
              <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.964833041516!2d115.48933465068109!3d-8.69488949094993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd27364bb2787bd%3A0xb516614245838a1e!2sThe+Mungkul+Cottages!5e0!3m2!1sfr!2sph!4v1554809793736!5m2!1sfr!2sph" width="400" height="300" frameborder="0" style="border:0" class="img-responsive"></iframe></p>
              </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-right">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.instagram.com/the_mungkul_nusapenida/">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>the_mungkul_nusapenida</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
              <a href="#">
                  <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                  <p>+62 823 3198 4358</p>
                  <p>+62 813 3705 5747</p>
              </a>
            </div>
        </div>
    </div>
</section>
