<section id="contact">
  <div class="wrapper">
     <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
          <hr class="primary">
          <p>Ready to start your new adventure with us? That's great! Book a room, or come to enjoy sunset with a cocktail in our restaurant !</p>
      </div>
  </div>
  <div class="container">

    <!-- DRY coding with : https://dev.to/perborgen/how-to-make-your-html-responsive-by-adding-a-single-line-of-css-29h -->
        <div class="card">
          <a href="https://goo.gl/maps/wheMFWACZ2z" target="_blank">
            <i class="fa fa-map-marker fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          </a>
        </div>

        <div class="card">
          <a href="https://www.instagram.com/the_mungkul_nusapenida/" target="_blank">
           <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          </a>
        </div>

        <div class="card">
          <a href="https://www.facebook.com/TheMungkul/" target="_blank">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          </a>
        </div>

        <div class="card">
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
        <!--   <p>{{ site.email }}</p> -->
         </a>
        </div>

        <!-- <div class="card">
          <a href="#">
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s">
              <p>+62 823 3198 4358</p>
            </i>
          </a>
        </div> -->
        <div class="card">
          <a href="callto: 62 813 3705 5747">
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <!--       <p>+62 813 3705 5747</p>  -->
          </a>
        </div>

    </div>


</section>
