<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!-- <h1>The Mungkul, Cottages & Restaurant</h1> -->
          <!--   <div class="col-lg-8 col-sm-6"> -->
                <a href="https://abnb.me/sORrQMYSVS" class="logo-box">
                    <img src="img/portfolio/logo.png" class="img-responsive" alt="mungkul cottage in nusa penida bali">
                    <div class="logo-box-caption">
                        <div class="logo-box-caption-content">

                        </div>
                    </div>
                </a>
            <!-- </div> -->
            <hr>
            <p>Start a new journey in our awesome Cottage!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
