<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul room 01.jpg" class="img-responsive" alt="mungkul cottage in nusa penida bali">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul room 02.jpg" class="img-responsive" alt="mungkul hotel in nusa penida bali">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul room 03.jpg" class="img-responsive" alt="mungkul beautiful cottage nusa penida bali">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul garden view 01.jpg" class="img-responsive" alt="mungkul garden view cottage nusa penida bali">
                   <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul cottages 01.jpg" class="img-responsive" alt="mungkul private cottage nusa penida bali">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                         </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul reception 01.jpg" class="img-responsive" alt="mungkul house for rent nusa penida bali">
                     <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                     </div>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul bath 01.jpg" class="img-responsive" alt="mungkul private accomodation nusa penida bali">
                     <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                     </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul design room 02.jpg" class="img-responsive" alt="mungkul group hotel nusa penida bali">
                     <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                     </div>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul design room 03.jpg" class="img-responsive" alt="mungkul nice cottage nusa penida bali">
                     <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                     </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/nusa penida tour 01.jpg" class="img-responsive" alt="visit nusa penida bali">
                     <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                     </div>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/mungkul garden view 02.jpg" class="img-responsive" alt="private villas nusa penida bali">
                     <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                     </div>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/nusa penida tour 02.jpg" class="img-responsive" alt="beach nusa penida bali">
                     <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cottage
                            </div>
                            <div class="project-name">
                                Design
                            </div>
                        </div>
                     </div>
                </a>
            </div>
        </div>
    </div>
</section>
