<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bed wow bounceIn text-primary"></i>
                    <h3>Cottage</h3>
                    <p class="text-muted">Our cottages are waiting for you.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Restaurant</h3>
                    <p class="text-muted">Our foods is asian inspiration!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x  fa-glass wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Bar</h3>
                    <p class="text-muted">We make cocktails, shake, fruit juice and serve beers as well.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Sunset View</h3>
                    <p class="text-muted">One of the best spot in Nusa Penida to enjoy sunset view!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <div class="service-box">
                <img src="img/superhost-airbnb.png" class="wow bounceIn text-primary" data-wow-delay=".4s" alt="superhost airbnb">
                <!-- <h3>Airbnb Superhost</h3> -->
                    <p class="text-muted">We are proud to be considered as Airbnb Superhost member since march 2019.</p>
              </div>
            </div>
        </div>
    </div>
</section>
